* {
    box-sizing: border-box;
}

body {
    background: url(../img/bush.png);
}

body {
    padding: 1rem;
}


/*----------  ------header-------- --------*/

header {
    //border:5px solid orange;
    width: 100%;
    background: url(../img/20-min.jpg) #fff;
    background-size: cover;
    //background-attachment: fixed;
    background-position: center center;
    margin: 0px;
    margin-bottom: 50px;
}

header .menu {
    //border:5px solid blue;
    width: 100%;
    height: 100px;
    //overflow: hidden;
    margin: 0px;
}

header .menu ul {
    border: 10px groove #F910FF;
    height: 100%;
    width: 100%;
    float: left;
    padding: 0px;
}

header .menu ul li {
    //border:10px groove red; 
    background-color: #FFF;
    text-align: center;
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    font-weight: 1000;
}

header .menu ul li a {
    display: block;
    height: 100%;
    width: 100%;
    color: #1c0da1;
    font-size: 25px;
    text-decoration: none;
    padding-top: 22px;
    //padding-bottom:30px;
}

header .menu ul li a:hover {
    text-decoration: underline;
    color: #FFA;
    background-color: rgba(34, 56, 90, 0.6);
    height: 100%;
    width: 100%;
}

header .textos {
    background-color: rgba(00, 00, 00, 0.2);
    border: 15px outset #F910FF;
    width: 100%;
    padding-right: 40px;
}

header .textos .nombre {
    color: #3490FF;
    text-shadow: black 6px 6px 6px;
    font-size: 50px;
    font-weight: 900;
    text-align: right;
}

header .textos .nombre span {
    color: #FF0943;
    font-weight: 500;
}

header .textos h3 {
    color: #0099FF;
    font-weight: 900;
    padding-left: 40px;
    font-size: 35px;
    text-shadow: black 6px 6px 6px;
    font-style: italic;
}

ul.ListaProductos {
    border: 10px groove #2892FF;
    width: 100%;
}

ul.ListaProductos li {
    //border:10px groove black;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

ul.ListaProductos li h3 {
    //border:10px groove black;
    text-align: center;
    width: 100%;
}

ul.ListaProductos li p {
    border: 5px double black;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0px;
}


/*--------    --------- MAIN MENU-----------    ----------*/

.main .menu {
    //border:5px outset black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.main .menu .titulo {
    font-size: 55px;
    font-weight: 3500;
    text-align: center;
    margin-bottom: 10px;
    margin-bottom: 40px;
}

.main .menu .contenedor .contenedor-menu1,
.main .menu .contenedor .contenedor-menu2 {
    border: 5px groove #120397;
    border-radius: 20px;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}

.totales {
    width: 100%;
    height: 100px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.totales li {
    display: inline-block;
    float: left;
    width: 33%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.total {
    text-align: center;
    border: 5px solid blue;
    border-radius: 20px;
    width: 100%;
    height: 65px;
    margin: 0px;
    padding-top: 10px;
}

.pagar {
    text-align: center;
    border: 5px solid blue;
    border-radius: 20px;
    width: 100%;
    height: 65px;
    margin: 0px;
    padding-top: 10px;
}

.botonPagar {
    background-color: #6AAED7;
    border: 5px solid blue;
    font-weight: 600;
    border-radius: 20px;
    font-size: 20px;
    width: 100%;
    height: 65px;
}

.main .menu .contenedor .botonPagar:hover {
    color: rgb(60, 255, 0);
    background-color: #008CBA;
}

.main .menu .contenedor article {
    //border: 5px solid blue;
    border-radius: 20px;
    width: 50%;
    float: left;
    padding: 20px;
}

.main .menu .contenedor article .categoria {
    //border: 5px solid blue;
    font-famity: monospace;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 0px;
}

.main .menu .contenedor article .articulo {
    border: 10px groove blue;
    border-radius: 20px;
    margin-bottom: 30px;
    padding-bottom: 0px;
    overflow: hidden;
    background-color: #FFA;
    padding-left: 10px;
    padding-right: 10px;
}

.main .menu .contenedor article .nombre {
    margin-top: 5px;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 15px;
    float: left;
}

.main .menu .contenedor article .precio {
    margin-top: 5px;
    font-size: 30px;
    margin-bottom: 15px;
    float: right;
}

.main .menu .contenedor article .descripcion {
    width: 100%;
    font-size: 26px;
    color: gray;
    font-weight: bolder;
    text-shadow: black 1px 1px 1px;
    clear: both;
}

.main .menu .contenedor article .cantidad {
    text-align: right;
    margin-top: 15px;
    margin-right: 5%;
    font-size: 30px;
    margin-bottom: 0'px;
 width: 95%;
}

.main .menu .contenedor article .boton {
    width: 100%;
    border-radius: 20px;
    border: 5px outset #008CBA;
    background-color: rgb(231, 121, 204);
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 10px;
}

.main .menu .contenedor article .boton:hover {
    color: gold;
    background-color: #008CBA;
}


/**********************************************/

.contacts h3 {
    font-size: 250%;
    padding-top: 90px;
    padding-bottom: 60px;
}

.contacts ul li {
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 20px;
}